.body {
	display: flex;
	background-color: burlywood;
	flex-direction: column;
	margin: 0;
}
.paragraph {
	flex-direction: column;
	margin-right: 10%;
	margin: 5px;
	align-items: flex-start;
}
h2 {
	color: darkgreen;
	margin-left: 5px;
}

#header {
	border: 5px solid blue;
}
#titleBanner {
	display: flex;
	flex-direction: row;
	border: 3px solid black;
}

#titleandsubtitle {
	text-indent: 0px;
	color: orangered;
	border: 3px solid green;
}
.buttonGroup {
	display: flex;
	flex-direction: column;
	border: 3px solid red;
	justify-content: right;
}
.button {
	color: magenta;
	cursor: pointer;
}

.darkButton {
	cursor: pointer;
}
.banner > #bannerImage {
	width: 100%;
	flex-direction: row;
	align-items: stretch;
}

img.images {
	max-height: 480px;
	max-width: 30%;
	flex-direction: row;
}

#about .me {
	width: 66.6%;
	height: auto;
}

.darkColors {
	background-color: black;
	color: gray;
}

.defaultColors {
	background-color: burlywood;
}
