h2 {
	color: darkgreen;
}
h2.subtitleheader {
	text-indent: 5px;
	color: orangered;
}
body {
	background-color: burlywood;
}
img.images {
	max-width: 400px;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}
.button {
	color: magenta;
	background-color: black;

	cursor: pointer;
	display: flex;
	justify-content: right;
	align-items: right;
}
.banner {
	border: 5px solid blue;
	display: flex;

	flex-wrap: wrap;
	flex-direction: row;
}
.banner > #titleBanner {
	display: flex;
	flex-direction: column;
}
.banner > #bannerImage {
	width: 100%;
	display: flex;
	align-self: stretch;
	border: 5px solid red;
}
header.nav-item {
	border: 5px solid blue;
	display: flex;
	align-items: flex-end;
	justify-content: right;
}

#about {
	display: flex;
}
